.title__header h1 {
  font-size: 1.6em;
}
.title__header h2 {
  font-size: 1em;
}

.form__group,
.title__header {
  margin-bottom: 30px;
}

.form__group p {
  font-size: 0.8em;
  margin: 0.5em;
}

.form__group p a {
  color: #000;
  cursor: pointer;
}

input {
  width: 100%;
}

.btn__login {
  width: 100%;
}

