<p-card class="card">
  <div class="title__header">
    <h1>Biblioteca virtual</h1>
    <h2>Bienvenido, ingrese sus datos de sesión.</h2>
  </div>
  <form>
    <div class="form__group">
      <p class="error__message">Credenciales invalidas, intente nuevamente.</p>
    </div>
    <div class="form__group">
      <span class="p-float-label">
        <input type="text" pInputText />
        <label>Nombre de usuario</label>
      </span>
    </div>
    <div class="form__group">
      <span class="p-float-label">
        <input type="password" pPassword [feedback]="false" />
        <label>Contraseña</label>
      </span>
    </div>
    <div class="form__group">
      <p>¿He olvidado mi contraseña? <a  routerLink="recover-password" >Recuperar cuenta</a></p>
      <p>¿No tengo cuenta? <a routerLink="register">Crear cuenta</a></p>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      label="Ingresar"
      class="p-button-secondary btn__login"
      icon="pi pi-arrow-circle-right"
    ></button>
  </form>
</p-card>
