<p-card class="card">
  <div class="title__header">
    <h1>Biblioteca virtual</h1>
    <h2>Bienvenido, ingrese sus datos de sesión.</h2>
  </div>
  <div class="form__group">
    <p class="response" >{{ response?.error }}</p>
  </div>
  <form  [formGroup]="formLogin"  (ngSubmit) = "login()" >
    <div class="form__group">
      <span class="p-float-label">
        <input type="text" pInputText  formControlName ="username" />
        <label>Nombre de usuario</label>
      </span>
      <p  error-msg message="El nombre de usuario es obligatorio."  [validate]="hasErrorRequired('username')"></p>
    </div>
    <div class="form__group">
      <span class="p-float-label">
        <input type="password" pPassword [feedback]="false"  formControlName = "password" />
        <label>Contraseña</label>
      </span>
      <p  error-msg message="El contraseña es obligatoria."  [validate]="hasErrorRequired('password')"></p>
    </div>
    <div class="form__group">
      <p>¿He olvidado mi contraseña? <a  routerLink="recover-password" >Recuperar cuenta</a></p>
      <p>¿No tengo cuenta? <a routerLink="register">Crear cuenta</a></p>
    </div>
    <div class="form__group" *ngIf="loading" >
      <app-loading message="Espere un momento, estamos validando sus credenciales de acceso." ></app-loading>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      label="Ingresar"
      class="p-button-secondary btn__login"
      icon="pi pi-arrow-circle-right"
      [disabled]="this.formLogin.invalid"
    ></button>
  </form>
</p-card>
