<p-card class="card">
  <div class="title__header">
    <h1>Biblioteca virtual</h1>
    <h2>Recuperar contraseña, <br> ingrese sus datos solicitados.</h2>
  </div>
  <form>
    <div class="form__group">
      <p class="error__message">Credenciales invalidas, intente nuevamente.</p>
    </div>
    <div class="form__group">
      <span class="p-float-label">
        <input type="email" pInputText />
        <label>Correo electrónico </label>
      </span>
    </div>
    <div class="form__group">
      <p>¿Ya tengo cuenta? <a routerLink="login">Ingresar</a></p>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      label="Recuperar cuenta"
      class="p-button-secondary btn__login"
      icon="pi pi-cog"
    ></button>
  </form>
</p-card>
