<p-card class="card">
  <div class="title__header">
    <h1>Biblioteca virtual</h1>
    <h2>Recuperar contraseña, <br> ingrese sus datos solicitados.</h2>
  </div>
  <div class="form__group">
    <p class="response" >{{ (response?.error) ? response?.error : emailSuccess }}</p>
  </div>
  <form [formGroup]="formRecover"   (ngSubmit) = "recoverPassword()">
    <div class="form__group">
      <span class="p-float-label">
        <input type="email" pInputText  formControlName ="email"/>
        <label>Correo electrónico </label>
      </span>
      <p  error-msg message="El correo electrónico es obligatorio."  [validate]="hasErrorRequired('email')"></p>
      <p  error-msg message="Correo electrónico invalido."  [validate]="hasErrorEmail('email')"></p>
    </div>
    <div class="form__group">
      <p>¿Ya tengo cuenta? <a routerLink="login">Ingresar</a></p>
    </div>
    <div class="form__group" *ngIf="loading" >
      <app-loading message="Enviando correo electrónico, por favor espere." ></app-loading>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      label="Recuperar cuenta"
      class="p-button-secondary btn__login"
      icon="pi pi-cog"
      [disabled]="formRecover.invalid"
    ></button>
  </form>
</p-card>
